{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h1>Make reservation</h1>
            <form action="" method="post" novalidate class="needs-validation">
                <div class="form-group mt-5">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" required aria-autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" name="last_name" id="last_name" required aria-autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" required aria-autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="text" class="form-control" name="phone" id="phone" required aria-autocomplete="off">
                </div>
                <hr>
                <input type="submit" class="btn btn-primary" value="Make Reservation">
            </form>
        </div>
    </div>
</div>
{{end}}