{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6 mt-3">
            <h1>Search for Availability</h1>
            <form action="/search-availability" method="post" novalidate class="needs-validation">
              <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
              <div class="row">
                <div class="col">
                  <div class="row" id="reservation-dates">
                    <div class="col">
                      <label for="start_date" class="form-label">Starting Date</label>
                      <input class="form-control" type="text" name="start" placeholder="Arrival" required>
                    </div>
                    <div class="col">
                      <label for="end_date" class="form-label">Ending Date</label>
                      <input class="form-control" type="text" name="end" placeholder="Departure" required>
                    </div>
                  </div>
                </div>
              </div>
              <hr>

              <button type="submit" class="btn btn-primary">Search Availability</button>
            </form>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
  const elem = document.getElementById('reservation-dates');
  const rangepicker = new DateRangePicker(elem, {
    format: 'dd/mm/yyyy',
  });
</script>
{{end}}